// 色
$main-color: #333;
$bg-color: #F0F0F0;
$white: #FFF;

// フォント
$font-jp: "Noto Sans JP", sans-serif;
$font-en: "EB Garamond", serif;

// ブレークポイント
$tablet: 1024px;
$mobile: 768px;

$padding-pc: 260px;
$padding-tablet: 32px;
$padding-mobile: 20px;