@charset "UTF-8";
/*-------------------------------------------
共通
-------------------------------------------*/
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #F0F0F0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.page-header {
  text-align: center;
  padding-bottom: 64px;
}
.page-header .page-title .en {
  display: block;
  font-family: "EB Garamond", serif;
  color: #333;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 5px;
}
.page-header .page-title .ja {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

/*-------------------------------------------
Header
-------------------------------------------*/
.header {
  display: flex;
  padding: 0 260px;
  justify-content: center;
  align-items: center;
  gap: 242px;
  height: 80px;
}
.header .site-title {
  color: #333;
  font-family: "EB Garamond", serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.72px;
}
.header .navi {
  display: flex;
  align-items: center;
}
.header .navi li {
  display: flex;
  align-items: center;
  font-family: "EB Garamond", serif;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  width: 120px;
  height: 80px;
}
.header .navi li:hover {
  background-color: #FFF;
}

/*-------------------------------------------
Top
-------------------------------------------*/
.top {
  width: 100%;
  height: 532px;
  background: url("../images/Flower_Top.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.top h2 {
  margin: 0;
  font-family: "EB Garamond", serif;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 1.12px;
  padding-left: 260px;
}

/*-------------------------------------------
Concept
-------------------------------------------*/
.concept {
  padding: 120px 260px;
}
.concept .contents {
  display: flex;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.concept .contents .img {
  max-width: 497px;
}
.concept .contents .detail {
  max-width: 423px;
  padding-left: 40px;
}
.concept .contents .detail .section-title {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.concept .contents .detail p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
}

/*-------------------------------------------
Gallery
-------------------------------------------*/
.gallery {
  background-color: #FFF;
  padding: 120px 260px;
}
.gallery .contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px 40px;
}
.gallery .contents .title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.gallery .contents .detail {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*-------------------------------------------
News
-------------------------------------------*/
.news {
  padding: 120px 260px;
}
.news .news-list {
  border-top: 1px solid #333;
}
.news .news-list .item {
  display: flex;
  padding-block: 24px;
  border-bottom: 1px solid #333;
}
.news .news-list .item time {
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 80px;
}
.news .news-list .item p {
  font-size: 16px;
  font-weight: 400;
}

/*-------------------------------------------
Shop
-------------------------------------------*/
.shop {
  padding: 0 260px 120px;
  overflow: hidden;
}
.shop .shop-group {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  height: 383px;
}
.shop .frame {
  background-color: #FFF;
  display: inline-flex;
  padding: 32px 74px 32px 40px;
  align-items: center;
  max-width: 520px;
  height: 303px;
}
.shop .img {
  position: absolute;
  top: 80px;
  left: 480px;
}
.shop .img img {
  max-width: 520px;
  height: 303px;
}
.shop .frame .shop-contents .shop-page-header {
  padding-bottom: 32px;
}
.shop .frame .shop-contents .shop-page-header .shop-page-title .en {
  display: block;
  font-family: "EB Garamond", serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.shop .frame .shop-contents .shop-page-header .shop-page-title .ja {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
.shop .frame .shop-contents .info {
  display: flex;
  flex-wrap: wrap;
}
.shop .frame .shop-contents .info dt {
  width: 104px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
}
.shop .frame .shop-contents .info dd {
  width: calc(100% - 104px);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
.footer {
  background-color: #333;
  color: #FFF;
  display: flex;
  padding: 29px 664px 29px 260px;
  align-items: center;
  position: relative;
}
.footer h2 {
  margin: 0;
  font-family: "EB Garamond", serif;
  font-size: 32px;
  font-weight: 500;
  white-space: nowrap;
}
.footer .copyright {
  margin: 0;
  font-family: "EB Garamond", serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*-------------------------------------------
Tablet
-------------------------------------------*/
@media screen and (max-width: 1024px) {
  .header {
    padding: 0 0 0 32px;
    gap: 124px;
  }
  .top h2 {
    padding: 229px 0 233px 32px;
  }
  .concept {
    padding: 96px 30.5px 96px 30.5px;
  }
  .gallery {
    padding: 96px 117px 98.72px 117px;
  }
  .gallery .contents {
    grid-template-columns: repeat(2, 1fr);
  }
  .news {
    padding: 96px 32px 96px 32px;
  }
  .shop {
    padding: 0 0 96px 0;
  }
  .shop .img img {
    width: 100%;
    height: auto;
  }
  .footer {
    padding: 29px 353px 29px 32px;
  }
}
/*-------------------------------------------
Mobile
-------------------------------------------*/
@media screen and (max-width: 768px) {
  .header {
    display: block;
    height: 117px;
    align-items: center;
    padding: 0;
  }
  .header .logo {
    padding: 8px 0 6px 0;
  }
  .header .site-title {
    font-size: 32px;
    text-align: center;
  }
  .header .navi li {
    font-size: 15px;
    width: 25%;
    height: 56px;
  }
  .top {
    width: 100%;
    height: 206px;
  }
  .top h2 {
    font-size: 28px;
    padding: 84px 0 85px 15px;
  }
  .page-header {
    padding: 0 0 32px;
  }
  .page-header .page-title .en {
    font-size: 38px;
  }
  .page-header .page-title .ja {
    font-size: 14px;
  }
  .concept {
    padding: 56px 20px 56px 20px;
  }
  .concept .contents {
    display: block;
  }
  .concept .contents .img {
    min-width: 335px;
    padding-bottom: 32px;
    margin: 0 auto;
  }
  .concept .contents .detail {
    min-width: 335px;
    padding-left: 0px;
    margin: 0 auto;
  }
  .concept .contents .detail .section-title {
    font-size: 24px;
    padding-bottom: 16px;
  }
  .gallery {
    padding: 56px 20px 56px 20px;
  }
  .gallery .contents {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 0px;
  }
  .gallery .contents li {
    min-width: 335px;
  }
  .gallery .contents .detail {
    min-width: 280px;
  }
  .news {
    padding: 56px 20px 56px 20px;
  }
  .news .news-list .item {
    display: block;
    padding: 16px 16px 16px 16px;
  }
  .news .news-list .item time {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
  }
  .shop {
    padding: 0 20px 56px 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .shop .shop-group {
    height: 610px;
    margin: 0 auto;
  }
  .shop .frame {
    padding: 32px 16px 32px 16px;
    min-width: 335px;
    height: 414px;
  }
  .shop .img {
    position: static;
  }
  .shop .img img {
    min-width: 335px;
    height: 195px;
  }
  .shop .frame .shop-contents .shop-page-header {
    text-align: center;
    padding-bottom: 32px;
  }
  .shop .frame .shop-contents .shop-page-header .shop-page-title .en {
    height: 42px;
    font-size: 32px;
  }
  .shop .frame .shop-contents .shop-page-header .shop-page-title .ja {
    height: 21px;
    font-size: 14px;
  }
  .shop .frame .shop-contents .info {
    display: block;
  }
  .shop .frame .shop-contents .info dt {
    width: 100%;
    padding-bottom: 0px;
  }
  .shop .frame .shop-contents .info dd {
    width: 100%;
    padding-bottom: 16px;
  }
  .footer {
    padding: 12.2px 0 12.8px 20px;
  }
  .footer h2 {
    font-size: 24px;
  }
  .footer .copyright {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */